html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

#Page1 h1.wow, #Page2 h1.wow, #Page3 h1.wow, #Page4 h1.wow, #Page5 h1.wow, #Page6 h1.wow, #Page7 h1.wow  {
    font-size: initial;
}

@font-face {
  font-family: selima;
  src: url(./font/selima/selima_.otf);
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


html,body {
    background: #fff;
    height:100%;
    padding:0;
    margin:0;
    font-weight:400;
    font-size: 62.5%;
}

a {
    text-decoration:underline;
    color:#72b1c8;
}

a:hover{
    text-decoration:none;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animatedLong {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
 -webkit-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
   -moz-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
     -o-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
        transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000);

-webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
   -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
     -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 54px, 0);
            transform: translate3d(0, 54px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

#siteContainer{
    opacity:0;
    z-index:99;
}

#mobileBG{
    display:none;
}

.loader{
    position:fixed;
    left:calc(50% - 20px);
    top:calc(50% - 20px);
    z-index:99;
    -webkit-animation: rotateLoad 700ms linear infinite;
    -moz-animation: rotateLoad 700ms linear infinite;
    animation: rotateLoad 700ms linear infinite;
}

@keyframes rotateLoad{
    0%{ transform:rotate(0deg); }
    100%{ transform:rotate(360deg); }
}



.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

#backgroundColor{
    display:block;
    position:fixed;
    height:100%;
    width:100%;
    top:0;
    background: linear-gradient(125deg, #8cbfc9, #8bc2bd, #89cb97, #8bc2bd);
    background-size: 400% 400%;
    -webkit-animation: BGGradient 10s ease infinite;
    -moz-animation: BGGradient 10s ease infinite;
    animation: BGGradient 10s ease infinite;
    z-index:0;
    opacity:.5;
}

#header{
    position:fixed;
    height:40px;
    width:100vw;
    background-color:#fff;
    top:0;
    left:0;
    z-index:20;
}

#footer{
    display:block;
    position:fixed;
    bottom:0;
    width:100vw;
    height:40px;
    background-color:#fff;
    left:0;
    z-index:20;
}

#Page{
    width:100%;
    margin:0 auto;
    position:relative;
    overflow:hidden;
}

#Page1{
    height:100vh;
    width:100%;
    position:relative;
    display:block;
    background-color:#fff;
    overflow:hidden;
    z-index:22;
        margin-bottom:18rem;
}

#page1BG{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display:block;
    /*background:    linear-gradient(
      rgba(255,255,255, 0.05),
      rgba(255,255,255, 0.25)
    ),url('images/img-03.jpg');*/
    background: url('images/snow.jpg');
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    z-index:98;
}

#txtCon{
    position:relative;
    width:120rem;
    margin:auto;
    height:100%;
    z-index:99;
}

#mainTxt{
    color:yellow;
    font-size: calc(((.52vw + .9259vh) / 2) * 18);
    line-height:1em;
    font-family: selima,"freight-display-pro", freight, serif;
    text-align:left;
    font-weight:normal;
    letter-spacing:0.015em;
    position:relative;
    top:50%;
    transform: translateY(-50%);

}


.smaller{
    font-family:"brandon-grotesque", brandon, sans-serif;
    font-size: calc(((.52vw + .9259vh) / 2) * 2.4);
    line-height:5.4em;
    letter-spacing:.05em;
    font-weight:700;
}

.name{
    font-weight:600;
}


#Menu{
    position:fixed;
    left:0px;
    top:0px;
    display:block;
    z-index:22;
    width:16.6vw;
    height:100%;
    background-color:#fff;
}

.smallLine{
    width:18px;
    top:14px;
    position:absolute;
    transition:all 0.1s ease-in;
}

#mainTitle .smaller{
    font-size:60px;
}

#hashtag{
    position:fixed;
    font-size:1.2rem;
    text-transform:uppercase;
    font-family:"brandon-grotesque", 'brandon', sans-serif;
    text-align:center;
    font-weight:900;
    letter-spacing:.5em;
    width:100%;
    color:#111;
    right:-48%;
    top:50%;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
    z-index:30;
}

#Monogram{
    display:block;
    width:8rem;
    height:8rem;
    position:fixed;
    left:calc(4.15% - 4rem) ;
    top:calc(50% - 4rem);
    z-index:30;
}

#MonogramImg img{
    position:relative;
    top:.4rem;
    width:8rem;
    height:8rem;
    left:.4rem;
    background-color:transparent;
}

#theDate{
    display:block;
    text-align:center;
    position:absolute;
    bottom:36px;
    width:100%;
    font-weight:700;
    font-style:italic;
    font-family:"freight-display-pro", freight, serif;
    font-size:18px;
    line-height:18px;
    letter-spacing:8px;
    color:#111111;
    z-index:22;
}
#theDate .dateLine{
    font-size:14px;
    font-weight:400;
}

#mainImg{
    width:600px;
    height:800px;
    background-image:url('images/mainimg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#fff;

}

#mainImgContainer{
    width:600px;
    height:800px;
    position:relative;
    top:90px;
    left:calc(50% - 300px);
    margin-bottom:180px;
}

#D1{
    position:absolute;
    left:0vw;
    font-size:296px;
    color:#8cbfc9;
    top:calc(100vh);
    font-family:"brandon-grotesque", brandon, sans-serif;
    font-weight:900;
    opacity:.25;
      -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
      z-index:1;
}

#D2{
    position:absolute;
    right:0vw;
    font-size:360px;
    color:#8cbfc9;
    top:-480px;
    z-index:2;
    font-family:"brandon-grotesque", brandon, sans-serif;
    font-weight:900;
    opacity:.5;
    z-index:4;
        -webkit-filter: blur(9px);
      -moz-filter: blur(9px);
      -o-filter: blur(9px);
      -ms-filter: blur(9px);
      filter: blur(9px);
}

#D3{
    position:absolute;
    left:16.6vw;
    font-size:300px;
    color:#8cbfc9;
    top:calc(100vh - 180px);
    z-index:2;
    font-family:"brandon-grotesque", brandon, sans-serif;
    font-weight:700;
    opacity:.25;
        -webkit-filter: blur(6px);
      -moz-filter: blur(6px);
      -o-filter: blur(6px);
      -ms-filter: blur(6px);
      filter: blur(6px);
}

#D4{
    position:absolute;
    right:12.45vw;
    font-size:360px;
    color:#8cbfc9;
    top:-480px;
    z-index:2;
    font-family:"brandon-grotesque", brandon, sans-serif;
    font-weight:700;
    opacity:.25;
        mix-blend-mode:multiply;
            z-index:4;
        -webkit-filter: blur(9px);
      -moz-filter: blur(9px);
      -o-filter: blur(9px);
      -ms-filter: blur(9px);
      filter: blur(9px);
}

#D5{
    position:absolute;
    right:0vw;
    font-size:360px;
    color:#8cbfc9;
    top:-480px;
    z-index:2;
    font-family:"brandon-grotesque", brandon, sans-serif;
    font-weight:900;
    opacity:.5;
    z-index:99;
        -webkit-filter: blur(12px);
      -moz-filter: blur(12px);
      -o-filter: blur(12px);
      -ms-filter: blur(12px);
      filter: blur(12px);
}

#Page2{
    display:block;
    width:120rem;
    background-color:#fff;
    position:relative;
    min-height:100vh;
    padding-top:0rem;
    padding-bottom:0rem;
    margin:0 auto;

}

#Page2 .image{
    display:block;
    width:120rem;
    height:63.3rem;
    position:relative;
    z-index:1;
    background-color:#fff;
}

#Page2 .image .im{
    width:55.9rem;
    height:100%;
    position:relative;
    float:left;
}

#Page2 #story{
        width:100%;
}

#Page2 #story .content{
    width:100%;
    display:block;
    position:relative;
    z-index:2;
}

.content h1{
    font-family:"brandon-grotesque", 'brandon', serif;
    font-size:1.2rem;
    text-align:left;
    color:#111111;
    font-weight:900;
    margin-bottom:7.2rem;
    line-height:1.5em;
    width:120rem;
    letter-spacing:.5em;
    text-transform:uppercase;
    text-align:center;
      display:block;
  position:relative;
        z-index:99;
}

#Page2 p{
    width:100rem;
    font-size:2.4rem;
    font-family:"freight-display-pro", freight, serif;
    color:#111111;
    letter-spacing:1.5px;
    line-height:1.5em;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  -webkit-column-gap: 72px;
     -moz-column-gap: 72px;
          column-gap: 72px;
    margin:3.6rem 10rem;
    z-index:99;
    display:block;
    position:relative;

}

#Page2 .headQuote{
    font-size:7.2rem;
    font-weight:400;
    position:relative;
    display:block;
    width:60rem;
    line-height:1em;
    margin-top:9rem;
    left:-5rem;
    font-family:"freight-display-pro", freight,serif;
    z-index:24;
}

#Page3{
    display:block;
    width:100%;
    /*background-color:rgba(141,191,201,.25);*/
    position:relative;
    min-height:100vh;
    padding-top:0rem;
    padding-bottom:0rem;

}

#Page3 .image{
    display:block;
    width:112.8rem;
    height:63.3rem;
    position:relative;
    z-index:1;
    background-color:#fff;
}

#Page3 .story{
    position:relative;
    width:120rem;
    margin:0 auto;
}

#Page3 .content{
    width:100%;
    display:block;
    position:relative;
    z-index:2;

}

#Page3 p{
    position:relative;
    font-family:"freight-display-pro", freight, serif;
    font-weight:400;
    font-size:3.9rem;
    color:#111111;
    width:100rem;
    line-height:1.3em;
    z-index:14;
    left:10rem;
    margin-top:7.2rem;
}

#Page4{
    width:120rem;
    text-align:center;
    display:block;
    position:relative;
    z-index:2;
    padding-top:0rem;
    margin:0 auto;

}

#libertyIcon{
    position:absolute;
    display:block;
    height:150px;
    width:300px;
    top:calc(100%);
    left:calc(50% - 150px);
    z-index:1;
}

#ringIcon{
    position:absolute;
    display:block;
    height:150px;
    width:300px;
    top:calc(100% - 75px);
    left:calc(50% - 150px);
    z-index:1;
}

#Page4 .headline{
    position:relative;
    top:0px;
    width:100%;
    z-index:95;
}
#Page4 h1{
    font-family:"brandon-grotesque", 'brandon', sans-serif;
    font-size:1.2rem;
    text-align:left;
    color:#111111;
    font-weight:900;
    margin-bottom:7.2rem;
    line-height:1.5em;
    letter-spacing:.5em;
    text-transform:uppercase;
    text-align:center;
    z-index:99;
    position:relative;

}

#Page4 h2{
    font-family:"freight-display-pro", freight, serif;
    font-weight:700;
    font-size:7.2rem;
    letter-spacing:1px;
    color:#111111;
    line-height:1em;
    margin-bottom:7.2rem;
    z-index:99;
    position:relative;
}

#Page4 h3{
    font-family:"freight-display-pro", freight, serif;
    font-weight:normal;
    font-size:3.6rem;
    letter-spacing:1px;
    color:#111111;
    line-height:1em;
    margin-bottom:7.2rem;
    z-index:99;
    position:relative;
}

#Page4 .map{
    display:block;
    width:55.9rem;
    height:calc(37.5vw - 72px);
    position:relative;
    z-index:1;
    background-color:#fff;
    float:left;
    margin:12rem .5rem 3.6rem 3.6rem;
}

#Page5{
    display:block;
    background-color:#8cbfc9;
    width:100%;
    position:relative;
    z-index:1;
    padding-bottom:0rem;
    margin-bottom:0rem;
}

#Page5 .container{
    width:120rem;
    display:block;
    position:relative;
    z-index:2;
    margin:0 auto;
}


#Page5 h1, #Page8 h1{
    font-family:"brandon-grotesque", 'brandon', sans-serif;
    font-size:12;
    text-align:left;
    color:#111111;
    font-weight:900;
    margin-bottom:7.2rem;
    padding-top:0rem;
    line-height:1.5em;
    letter-spacing:.5em;
    text-transform:uppercase;
    text-align:center;
    z-index:99;
    position:relative;
}

#Page8 {
  font-size: initial;
  font-family: freight-display-pro;
}

#piccenter {
  display: flex;
  justify-content: space-around;

}

#Page5 #logoCon{
    width:100%;
    display:block;
    position:relative;
}

#Page5 #logoCon .logo{
    width:20%;
    float:left;
    display:block;
    padding:0rem;
    position:relative;
    font-size: initial;
}

#Page5 #logoCon .logo img{
    width:100%;
    height:auto;
    transition:all 0.15s ease-out;
}

#Page5 #logoCon .logo img:hover{
    cursor:pointer;
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
    transition:all 0.15s ease-in;
}



#Page6{
    margin:6rem auto 0rem auto;
    position:relative;
    width:120rem;
}

#Page6 .flexCon{
    display:flex;
    flex-direction: row
}

#Page6 .flexBox{
    width:33.3%;
    display:flex;
    font-family:"brandon-grotesque", brandon, sans-serif;
    font-size:2.4rem;
    font-weight:700;
    line-height:1.5em;
    vertical-align:middle;
    position:relative;
    padding-top:0rem;
}

#flexone{
    opacity:0;
    visibility:hidden;
    cursor:default;
}


#Page6 .reminder{
    display:block;
    width:50%;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    left:12.5%;
}

#Page6 .reminder span{
    font-size:1.8rem;
    background-color:rgba(140, 191, 201, .25);
}


#Page6 h1{
    color:#222;
    font-size:7.2rem;
    line-height:1em;
    font-family:"freight-display-pro", freight, serif;
    text-align:left;
    position:relative;
    font-weight:700;
    padding-bottom:0rem;
}

#Page6 .green{
    background-color:green;
}

#Page6 .red{
    background-color:red;
}

#Page6 .blue{
    background-color:blue;
}


#Page7{
    display:block;
    width:120rem;
    background-color:#fff;
    position:relative;
    min-height:100vh;
    padding-top:0rem;
    padding-bottom:0rem;
    margin:0 auto;

}

#Page7 .image{
    display:block;
    width:120rem;
    height:63.3rem;
    position:relative;
    z-index:1;
    background-color:#fff;
}

#Page7 .image .im{
    width:55.9rem;
    height:100%;
    position:relative;
    float:left;
}

#Page7 #story{
        width:100%;
}

#Page7 #story .content{
    width:100%;
    display:block;
    position:relative;
    z-index:2;
}

#Page7 .partyLeft{
    margin-left:3.6rem;
    margin-right:1rem;
}

#Page7 .partyRight{

}

#Page7 .partyList{
    display:block;
    width:55.9rem;
    float:left;
    text-align:center;
    font-size:1.2rem;
    font-family:"brandon-grotesque", brandon, sans-serif;
    font-weight:700;
    letter-spacing:.5rem;
    line-height:1em;
        margin-top:5.4rem;
}

#Page7 span{
    margin-bottom:3.6rem;
    display:block;
    text-transform:uppercase;
    color:#8cbfc9;
    letter-spacing:.2rem;
}

#Page7 .partyList h2{
    font-size:2.4rem;
    font-family:"freight-display-pro", freight, serif;
    letter-spacing:.25rem;
}

#Page7 .topParty h2{
    font-size:4.8rem;
    line-height:1em;
    font-style:italic;
}

#Page7 .topParty span{
    font-size:2.4rem;
    line-height:2em;
    letter-spacing:1em;
}

#Page7 p{
    width:100rem;
    font-size:2.4rem;
    font-family:"freight-display-pro", freight, serif;
    color:#111111;
    letter-spacing:1.5px;
    line-height:1.5em;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  -webkit-column-gap: 72px;
     -moz-column-gap: 72px;
          column-gap: 72px;
    margin:3.6rem 10rem;
    z-index:99;
    display:block;
    position:relative;

}

#Page7 .headQuote{
    font-size:7.2rem;
    font-weight:400;
    position:relative;
    display:block;
    width:60rem;
    line-height:1em;
    margin-top:9rem;
    left:-5rem;
    font-family:"freight-display-pro", freight,serif;
    z-index:24;
}




#cerDesc{
    display:block;
    width:52.8rem;
    position:relative;
    float:left;
    font-size:2.4rem;
    font-family:"freight-display-pro", freight, sans-serif;
    color:#111111;
    letter-spacing:1.5px;
    line-height:1.5em;
    text-align:left;
    margin:12rem 3.6rem 3.6rem 3.6rem;
    z-index:99;
}

#story{
    width:50%;
    float:left;
}

#img01{
    width:112.8rem;
    height:63.3rem;
    background:url('./images/beach_walk.jpg') center center no-repeat;
    background-size: cover;
    position:relative;
    z-index:1;
    margin:3.6rem auto 7.2rem auto;
    background-color:#ffffff;
}

#img04{
    background:url('./images/black_white_polo.JPG') center center no-repeat;
    background-size: cover;
    margin:5.4rem .5rem 3.6rem 3.6rem;
    background-color:#ffffff;
}

#img05{
    background:url('./images/g_nico_polo3.JPG') center center no-repeat;
    background-size: cover;
    margin:0rem 3.6rem 9rem .5rem;
    background-color:#ffffff;
    transform: rotate(90deg)
}

#img07{
    background:url('./images/bride_photo.jpg') center center no-repeat;
    background-size: cover;
    margin:5.4rem 3.6rem 3.6rem .5rem;
    background-color:#ffffff;
}

#img06{
    background:url('./images/g_apple.jpeg') center center no-repeat;
    background-size: cover;
    margin:0rem .5rem 9rem 3.6rem;
    background-color:#ffffff;
}

#img02{
    width:112.8rem;
    height:63.3rem;
    background:url('./images/unicorn.jpg') center center no-repeat;
    background-size: cover;
    position:relative;
    z-index:1;
    margin:3.6rem auto 7.2rem auto;
    background-color:#ffffff;
}

#img03{
    background:url('./images/g_nico_polo_hug.jpg') center center no-repeat;
    background-size: cover;
    margin:3.6rem;
    background-color:#ffffff;
}


@media screen and (max-width: 1400px) {
    html{
        font-size:50%;
        /*font-size:8px;*/
    }
    #txtCon{
        width:66.6%;
        margin:auto;
    }
    #Page2 .headQuote{
        font-size:54px;
        width:80%;
        position:relative;
        margin:9rem 10% 0 10%;
        left:0;
    }

    #Page2 p{
        width:80%;
        margin:3.6rem 10%;

    }
}

@media screen and (max-width: 1320px){
    #Page{
        width:100%;
    }
}

@media screen and (max-width: 1160px) {
    html{
        font-size:41.6%;
        /*font-size:6.656px;*/
    }
    #Page2{
        width:100%;
    }

    #Page2 .image{
        width:100%;
        height:56.25vw;
    }
    .content h1{
    font-size:12px;
    width:100%;
    }

    #Page4 h1{
    font-size:12px;
    width:100%;
    }

    #Page2 .image .im{
    width:50%;
    height:100%;
    }

    #Page7 .image .im{
    width:50%;
    height:100%;
    }

    #Page2 p{
  width:80%;
  font-size:2.4rem;
  font-family:"freight-display-pro", freight, serif;
  color:#111111;
  letter-spacing:1.5px;
  line-height:1.5em;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
      -webkit-column-gap: 72px;
   -moz-column-gap: 72px;
        column-gap: 72px;
  margin:3.6rem 10%;

    }

    #img04, #img05, #img06, #img07{
        margin:0rem 0rem 3.6rem 0rem;
    }




    #Page3{
        width:100%;
        padding-top:9rem;
        padding-bottom:9rem;
    }

    #Page3 .image{
        width:100%;
        height:56.25vw;
    }

    #Page7 .image{
        width:100%;
        height:56.25vw;
    }
    #Page3 p{
        font-size:54px;
        width:80%;
  margin:0 auto;
  padding:0;
  left:0;

    }
    #Page3 .story{
        width:100%;
    }
    #Page4{
        width:100%;
    }

    #Page4 .map{
        display:block;
        width:35%;
        height:40vw;
        margin:12rem 5% 3.6rem 10%;
    }

    #Page7 .story{
        width:100%;
    }

    #img01{
        margin:0;
    }

    #img02{
        width:100%;
        height:50vw;
        margin:3.6rem auto 7.2rem auto;
    }

    #img03{
        margin:3.6rem 0rem;
    }

    #cerDesc{
        display:block;
        width:35%;
        font-size:18px;
        margin:12rem 10% 3.6rem 5%;
    }

}

@media screen and (max-width:1000px){
    #Monogram{
        left:calc(50% - 4rem) ;
        top:1.2rem;
    }
    #hashtag{
        display:none;
    }
    #mainTxt{
        font-size: 120px;
    }

    .smaller{
        font-size:18px;
    }

    #Page2 p{
        width:80%;
        font-size:18px;
  letter-spacing:0;
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
        margin:3.6rem 10%;

    }
    #Page2 .headQuote{
        font-size:54px;
        width:83.3%;
        position:relative;
        margin:9rem auto 0 auto;
        left:0;
    }

    #Page3 p{
        font-size:54px;
        width:83.3%;

    }

    #Page4 h2{
  font-size:54px;
  width:83.3%;
  margin: 0px auto 7.2rem auto;
    }

    #Page4 .map{
  display:block;
  width:100%;
  height:50vw;
  margin:12rem 0rem 3.6rem 0rem;
  z-index:99;
    }

    #Page5{
  display:block;
  width:100%;
  position:relative;
  z-index:1;
  margin-top:12rem;
  padding-bottom:12rem;
    margin-bottom:0px;
    }

    #Page5 .container{
  width:100%;
  margin:0 auto;
    }


    #Page5 h1{
  font-size:12px;
  width:100%;
    padding-top:18rem;
    }


    #Page5 #logoCon .logo{
    font-size: initial;
  width:50%;
  padding:9rem 25%;
    }


    #Page6{
        margin:6rem auto 0rem auto;
        position:relative;
        width:100%;
        display:none;
    }

    #Page7{
        width:100%;
    }

    #cerDesc{
  display:block;
  width:83.3%;
  font-size:18px;
  letter-spacing:0;
  margin:3.6rem 8.3% 3.6rem 8.3%;
    }

    #Page7 .partyLeft{
    margin-left:0rem;
    margin-right:0rem;
    }

    #Page7 .partyList{
        width:50%;
    }
}

@media screen and (max-width:860px){
    #mainTxt{
        font-size: calc((16vw + 16vh) / 2);
    }

    .smaller{
        font-size:14px;
    }

    #page1BG{
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 50% !important;
    background-attachment: scroll;
    }

    #Page4 h2{
        text-align:left;
    }

    /*#mobileBG{
  display:block;
  z-index:1;
  overflow:hidden;
  position:absolute;
  left:calc(-50% - 25vw);
    }

    #mobileBG img{
  height:100%;
  width:auto;
    }*/

    #D1{
        display:none;
    }
    #D2{
        display:none;
    }
    #D3{
        display:none;
    }
    #D4{
        display:none;
    }
    #D5{
        display:none;
    }

}
